In [0]:
import pandas_datareader.data as web
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Upload data

In [9]:
from google.colab import files
uploaded = files.upload()

Saving EURUSD1h1y.csv to EURUSD1h1y.csv

Reshape data to index date column and drop duplicates

In [43]:
# Load our CSV data
import io
data = pd.read_csv(io.BytesIO(uploaded['EURUSD1h1y.csv']))
data.columns = ['Date','open','high','low','close','AskVol']
data.Date = pd.to_datetime(data.Date, format='%d.%m.%Y %H:%M:%S.%f')
data = data.set_index(pd.to_datetime(data.Date))
prices = data.drop_duplicates(keep=False)
data

                                   Date     open  ...    close      AskVol
Date                                              ...
2019-01-01 22:00:00 2019-01-01 22:00:00  1.14598  ...  1.14606   2354.3101
2019-01-01 23:00:00 2019-01-01 23:00:00  1.14605  ...  1.14612   9464.5898
2019-01-02 00:00:00 2019-01-02 00:00:00  1.14612  ...  1.14561   7151.4399
2019-01-02 01:00:00 2019-01-02 01:00:00  1.14561  ...  1.14521  11411.6602
2019-01-02 02:00:00 2019-01-02 02:00:00  1.14521  ...  1.14456  14688.4697
...                                 ...      ...  ...      ...         ...
2020-01-31 17:00:00 2020-01-31 17:00:00  1.10816  ...  1.10828   7858.7100
2020-01-31 18:00:00 2020-01-31 18:00:00  1.10828  ...  1.10803   5342.7002
2020-01-31 19:00:00 2020-01-31 19:00:00  1.10801  ...  1.10894   4822.3101
2020-01-31 20:00:00 2020-01-31 20:00:00  1.10894  ...  1.10904   4653.3149
2020-01-31 21:00:00 2020-01-31 21:00:00  1.10904  ...  1.10944   3472.7649

[6754 rows x 6 columns]

Bollingerbands

In [0]:
from talib import BBANDS
bbup, bbmid, bblow = BBANDS(data.close, timeperiod=20, nbdevup=2, nbdevdn=2, matype=0)

EMA

In [45]:
from talib import EMA
ema = EMA(data.close, timeperiod=30)
emadf = pd.DataFrame(ema).reset_index()
emadf = emadf.drop(columns=['Date'])
emadf.columns = ["ema"]
frame=[data,emadf]
data = pd.concat(frame)
data

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  import sys

                         AskVol                Date  ...      low     open
2019-01-01 22:00:00   2354.3101 2019-01-01 22:00:00  ...  1.14598  1.14598
2019-01-01 23:00:00   9464.5898 2019-01-01 23:00:00  ...  1.14566  1.14605
2019-01-02 00:00:00   7151.4399 2019-01-02 00:00:00  ...  1.14543  1.14612
2019-01-02 01:00:00  11411.6602 2019-01-02 01:00:00  ...  1.14457  1.14561
2019-01-02 02:00:00  14688.4697 2019-01-02 02:00:00  ...  1.14426  1.14521
...                         ...                 ...  ...      ...      ...
6749                        NaN                 NaT  ...      NaN      NaN
6750                        NaN                 NaT  ...      NaN      NaN
6751                        NaN                 NaT  ...      NaN      NaN
6752                        NaN                 NaT  ...      NaN      NaN
6753                        NaN                 NaT  ...      NaN      NaN

[13508 rows x 7 columns]

In [40]:
emadf = pd.DataFrame(ema).reset_index()
emadf = emadf.drop(columns=['Date'])
emadf.columns = ["ema"]
emadf

           ema
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
6749  1.103987
6750  1.104248
6751  1.104551
6752  1.104840
6753  1.105137

[6754 rows x 1 columns]

In [41]:
frame=[data,emadf]
data = pd.concat(frame)
trydata

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

                         AskVol                Date  ...      low     open
2019-01-01 22:00:00   2354.3101 2019-01-01 22:00:00  ...  1.14598  1.14598
2019-01-01 23:00:00   9464.5898 2019-01-01 23:00:00  ...  1.14566  1.14605
2019-01-02 00:00:00   7151.4399 2019-01-02 00:00:00  ...  1.14543  1.14612
2019-01-02 01:00:00  11411.6602 2019-01-02 01:00:00  ...  1.14457  1.14561
2019-01-02 02:00:00  14688.4697 2019-01-02 02:00:00  ...  1.14426  1.14521
...                         ...                 ...  ...      ...      ...
6749                        NaN                 NaT  ...      NaN      NaN
6750                        NaN                 NaT  ...      NaN      NaN
6751                        NaN                 NaT  ...      NaN      NaN
6752                        NaN                 NaT  ...      NaN      NaN
6753                        NaN                 NaT  ...      NaN      NaN

[13508 rows x 7 columns]

MA

In [0]:
from talib import MA
ma = MA(data.close, timeperiod=30, matype=0)